/*  your css code here. If applicable */
.Main-Container {
	padding: 20px;
	background-color: #f5f5f5;
}
.Testimonial {
	padding:15px;
	border: 1px solid black;
	background-color: #fff;
	margin-bottom: 20px;
}
.author {
	text-align: right;
	font-style: italic;
}